body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKNLV0nDmE_54WKccjI3vFBH8DWLfWix26QoNafFGlBAwMHb6c");
}

h1 {
	text-align: center;
	font-size: 28pt;
}

a {
	font-size: 25px;
	text-align: center;
	color: black;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 10px;
}

a:hover {
	text-decoration: underline;
	/*underline só aparece se colocar o mouse em cima*/
	background-color: rgba(255,255,255,0.25);
	border: none;
	cursor: pointer;
}

table {
	margin: auto;
}

table  tr th{
	font-size: 27pt;
}

table tr td {
	font-size: 20pt;
}
